
/* 共同的样式 */

.alls{
	width: 75rem;
	margin: 2rem auto;
}
.alls h1{
	font-size: 3rem;
	line-height: 4rem;
	text-align: center;
}
.alls .yearSum{
	text-align: center;
	font-size: 1.4rem;
	line-height: 2rem;
}
.alls .yearSum b{
	color: #0000FF;
}
.alls .yearSum strong{
	color: #FF0000;
}

.alls .box{
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
	line-height: 2.4rem;
	border: 0.2rem solid #0000FF;
}
.alls .box h2{
	font-size: 2.8rem;
	text-align: center;
	line-height: 3.8rem;
}
.alls .box ul li{
	border-top: 0.1rem solid #0000FF;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.alls .box ul li h3{
	width: 12%;
	border-right: 0.1rem solid #0000FF;
	text-align: right;
}
.alls .box ul li div{
	width: 88%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.alls .box ul li div p{
	width: 33.33%;
	border-right: 0.1rem solid #0000FF;
	text-indent: 0.6em;
}
.alls .box ul li div p:nth-child(3n){ /* 每行最后一项不要 */
	border-right: 0;
}
.alls .box ul li div p:last-child{ /* 最后一项不要 */
	border-right: 0;
}
.alls .box ul li div p b{
	font-weight: normal;
	color: #0000FF;
}
.alls .box ul li div p strong{
	font-weight: normal;
	color: #FF0000;
}

.alls .box .monthSum div{
	border-top: 0.1rem solid #0000FF;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.alls .box .monthSum div h3{
	width: 12%;
	border-right: 0.1rem solid #0000FF;
	text-align: right;
	font-weight: bold;
}
.alls .box .monthSum div p{
	width: 88%;
	text-indent: 1em;
}
.alls .box .monthSum div p b{
	font-weight: bold;
	color: #0000FF;
}
.alls .box .monthSum div p strong{
	font-weight: bold;
	color: #FF0000;
}